@page "/"

<PageTitle>CRUD Blazor</PageTitle>

<h1 class="text-center">CRUD con Blazor Server y MSSQLLOCALDB</h1>

<h3 class="text-center">Bienvenidos</h3>

<SurveyPrompt Title="How is Blazor working for you?" />
